html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cookie', cursive;
  font-size: 30px;
}

a {
  color: #8a6044;
}

a:hover {
  color: #999;
  text-decoration: none;
}

header, nav {
  display: block;
}

/* header */

#app-header {
  background: url(../img/header-bg.jpg) center top no-repeat;
  width: 990px;
  height: 707px;
  margin: 0 auto;
  position: relative;
  border-left: 3px solid #999;
  border-right: 3px solid #999;
} 

#app-header .logo {
  width: 260px;
  margin: 0 0 0 -120px;
  position: absolute;
  left: 50%;
  top: 70px;
  overflow: hidden;
}

#app-header .logo a {
  display: block;
}

#app-header .logo img {
  width: 100%;
}

/* nav */

#app-nav {
  width: 990px;
  margin: 0 auto;
  border-top: 3px dashed #999;
  border-bottom: 3px dashed #999;
  border-left: 3px solid #999;
  border-right: 3px solid #999;
}

#app-nav ul {
  margin: 0;
  padding: 20px 0;
}

#app-nav .links-list {
  width: 990px;
  margin: 0 auto;
  text-align: center;
}

#app-nav .links-list li {
  margin: 0 10px;
  display: inline;
}
